.gs-promotion-image {
    
display: none !important;
    
}

.gs-title {
    
    font-size: 20px;
    
}


.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    
    color: #BE5409 !important;
    
}