{#
/**
 * @file
 * header-only footer.
 */
#}
<div id="iframe-header">
{% include directory ~ '/templates/page/parts/message.html.twig' %}
<div class="body-page gva-body-page">
	{% include directory ~ '/templates/page/parts/preloader.html.twig' %}
   {% include header_skin %}
</div>
</div>

