{#
/**
 * @file
 * Gavias's theme implementation to display a single Drupal page.
 */
#}

<div class="body-page gva-body-page">
  {% include directory ~ '/templates/page/parts/preloader.html.twig' %}
  {% include header_skin %}

  <div role="main" class="main main-page">
    <div id="content" class="content content-full">
      <div class="main-content-inner">
        <div class="content-main">


          <div id="block-gaviasblockbuider404errorpage" class="block block-gavias-blockbuilder block-gavias-blockbuilder-blockgavias-blockbuilder-block____75">

            <h2 class="block-title"><span>Gavias Blockbuider 404 Error Page</span></h2>

            <div class="content block-content">
              <div class="gavias-blockbuilder-content">

                <div class="gbb-row-wrapper">
                  <div class=" gbb-row bg-size-cover gsc-equal-height" style="padding-top:50px; padding-bottom:50px; background-color:#242424; background-image:url('/sites/default/files/img/hero-third-party_0.jpg'); background-repeat:no-repeat; background-position:center center">
                    <div class="bb-inner remove_margin remove_padding remove_padding_col">
                      <div class="bb-container container-fw">
                        <div class="row">
                          <div class="row-wrapper clearfix">
                            <div class="gsc-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="column-inner  bg-size-cover ">
                                <div class="column-content-inner">
                                </div>
                              </div>
                            </div>
                            <div class="gsc-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="column-inner  bg-size-contain hero-text-right">
                                <div class="column-content-inner">
                                  <div class="widget gsc-heading  align-center style-1 text-dark ">

                                    <div class="title-desc"><h1 class="banner-headline blue-text" style="text-align: left;">DOCMAGIC</h1></div>         </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><div class="gbb-row-wrapper">
                  <div class=" gbb-row bg-size-cover" style="padding-top:10px; padding-bottom:60px; background-color:#f7f7f7">
                    <div class="bb-inner default">
                      <div class="bb-container container">
                        <div class="row">
                          <div class="row-wrapper clearfix">
                            <div class="gsc-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="column-inner  bg-size-cover ">
                                <div class="column-content-inner">
                                  <div class="column-content  "><p><strong>We apologize for any inconvenience.</strong></p>
                                    <p>The page that you are requesting cannot be found. You have reached a page that has moved or is no longer available. Please click your back button or return to the <a href="../../../../home">DocMagic Home Page.</a></p>
                                    <p>If you have any questions and would like further assistance from DocMagic, please email <a href="mailto:customerservice@docmagic.com">Customer Service</a> or call us at (800) 649-1362.</p>
                                    <p>Thank you. DocMagic&nbsp;Staff</p></div>                  </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

{% include directory ~ '/templates/page/footer.html.twig' %}